body {
  /* background: #84b000; */
  background-size: cover;
  display: flex;
  padding-top: 10%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0px;
  font-size: 12px;
}

H1,
.otherTalk {
  color: #84b000;
  padding: 10px;
}

.otherTalk {
  color: #84b000;
}

.longTalk {
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid;
  width: 100%;
}

.loginBox {
  justify-content: centre;
  width: 100%;
  padding: 15px;
  border: 2px solid;
  border-radius: 20px;
}

.Head {
  background-color: #84b000;
  justify-items: center;
  align-content: center;
  padding: 10px;
  height: 45px;
  border-radius: 10px;
  font-size: large;
  color: white;
}

.input-field {
  font-size: 15px;
  background: white;
  color: black;
  height: 36px;
  padding: 0 10px 0 45px;
  border: 2px solid;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}

.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
  color: #000000;
}

.input-box i {
  position: relative;
  top: -35px;
  left: 17px;
  color: black;
}

.submit {
  font-size: 8px;
  font-weight: 500;
  color: black;
  height: 25px;
  border: 2px solid;
  border-radius: 30px;
  outline: none;
  background: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: small;
  margin-top: 10px;
}

.two-col .one {
  display: flex;
  gap: 5px;
}

.two label a {
  text-decoration: none;
  color: black;
}

.two label a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
